*{
    font-family: roboto;
    padding: 0;
    margin: 0;
}
/* Section 1 Style */
.section1{
    background-color: #1F2937;
    padding-left: 150px;
    padding-right: 150px;
}
.heromaintext{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.herosecondarytext{
    font-size: 18px;
    color:#E5E7EB;
}
.headerlinktext{
    font-size: 18px;
    color: #E5E7EB;
}
.headerlogotext{
    font-size: 24px;
    color: #F9FAF8;
}

/* Responsive Header Logo and Navigation bar */
.flex-container {
    font-size: 1.2rem;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.navbar ul {
    display: flex;
  }
  .flex-container .navbar {
    justify-content: space-between;
  }
  .navbar ul li {
    list-style-type: none;
  }
  
  .flex-container .navbar ul li {
    padding: 10px;
    margin: 0 10px;
  }

@media(max-width: 650px){
    .flex-container .navbar{
        flex-direction: column;
    }
}

/* Columns: Website main text and image */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 10px;

    flex-wrap: wrap;
    align-content: center;
    gap: 2rem;
    
}
@media (min-width: 1200px){
    .container{
        flex-direction: row;
    }
}

.container > *{
    flex: 1;
}
.item{
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
img {
    display: block;
    margin-left: auto;
    height: auto;
    width: 500px;
  }
/* ---------------------------------------- */
.section2{
    padding: 10px;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 160px;

}
.imageandtext{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.headertext{
    text-align: center;
    margin: 40px;
    font-size: 36px;
    font-weight: 900;
}
figure {
    border-radius: 25px;
    /* border: 2px solid #3882F6; */
    width: 210px;
    height: 210px;
    margin: 40px; /* adjust as needed */

}
figure figcaption {
    text-align: center;
    margin-top: 20px;
}
.section2 img{
    height: 210px;
    width: 210px;
    border-radius: 26px;
}
@media(max-width: 1100px){
    .section2 .imageandtext{
        flex-wrap: wrap;
        gap: 3rem;
    }

}
/* --------------------------------------------- */
.section3{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section3 .text1{
    color: #1F2937;
    font-size: 36px;
    font-style: light italic;
    margin-bottom: 20px;
    text-align: justify;
}
.section3 .text2{
    margin-left: auto;
    font-weight: bold;
    color: #1F2937;
    font-size: 24px;
}
@media (max-width:600px) {
    .text{
        flex-direction: row;
    }
    
}


